body {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 0px 0px 0px 0px; 
}

#root {
  color: white;
  background-color: white;

  min-width: 769px;
  max-width: 1440px;
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
}

/* 1-HEADER */
#header {
  max-width : 1238px;
  margin-top: 20px;
  margin-bottom: 35px;
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90%;
}

#headerLogo {
  width: 210px;
  height: 70px;
}

#headerLogo img {
  width: 100%;
}

.nav {
  max-width: 1028px;
  width: auto;
  height: 35px;
  margin-top: 35px;
  font-family: Montserrat;
  font-weight: 500;
  font-size: 24px;
  line-height: 34px;
  text-align: right;
}

.nav a {
  width: 116px;
  margin-left: 50px;
  text-decoration: none;
  color: black;
}

.nav a:hover {
  text-decoration: underline;
}

/* 2-CONTENT */
#content {
  max-width : 1238px;
  width:  90%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* 2.1-TITLE */
#title {
  max-width : 1238px;
  width:  100%;
  height: auto;
  position: relative;
  border-radius: 25px;
  background-color: black;
  border-color: rgba(0,0,0,0.25);
  border-width: 1px;
  box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.25);
}

.backgroundPicture {
  width: 100%;
  height: 223px;
  border-radius: 25px;
  opacity: 0.6;
  object-fit: cover;
}

.mainTitle {
  position: absolute;
  display: flex;
  bottom: 0px;
  font-family: Montserrat;
  font-weight: 700;
  font-size: 48px;
  line-height: 68px;
  color: white;
  text-shadow: 2px 0 black, -2px 0 black, 0 2px black, 0 -2px black,
               1px 1px black, -1px -1px black, 1px -1px black, -1px 1px black;
  width: 100%;
  height: 223px;
  align-items: center;
  justify-content: center;  
}

#firstGroup {
  min-width: 267px;
}

#secondGroup{
  min-width: 426px;
}

/* 2.2-THUMBS LIST */
#summariesList {
  margin-top: 30px;
  padding: 25px 25px 25px 25px;
  width: calc(100% - 50px);
  max-width: 1238px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	row-gap: 15px;
  background-color: #F6F6F6;
  border-radius: 25px;
}

.summary a{
  text-decoration: none;
}

.thumbCard {
  display: block;
  position: relative;
  width: calc(100% - 50px);
  height: 100%;
  margin: 25px 25px 25px 25px;
}

.thumbCover {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.thumbText {
  position: absolute;
  left: 20px;
  bottom: 20px;
  width: fit-content;
  color: white;
  font-family: Montserrat;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-decoration: none;
  text-anchor: end;
}

.thumbText:hover {
  text-decoration: underline;
}

/* 3-FOOTER */
#footer {
  max-width : 1440px;
  width:  100%;
  height: 209px;
  background-color: black;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#footerLogo {
  margin-top: 66px;
  margin-bottom: 28px;
}

#footerLogo img{
  width: 122px;
}

.footerText {
  font-family: Montserrat;
  font-weight: 500;
  font-size: 24px;
  line-height: 34px;
}

/* 4-ERROR PAGE */
.errorNumber {
  font-family: Montserrat;
  font-weight: 700;
  font-size: 288px;
  line-height: 411px;
  width: 100%;
  text-align: center;
  color: #FF6060;
  background-color: white;
}

.detailTitle {
  font-family: Montserrat;
  font-weight: 500;
  font-size: 36px;
  line-height: 51px;
  width: 100%;
  text-align: center;
  color: #FF6060;
  background-color: white;
}

.underlinedLink {
  font-family: Montserrat;
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  width: 100%;
  text-align: center;
  color: black;
  background-color: white;
  margin-top: 80px;
  margin-bottom: 50px;
}

/* 5-ABOUT */
.aboutCollapses {
  width: 80%;
  display: flex;
  flex-direction: column;
  margin-top: 35px;
}

/* 6-COLLAPSE */
.collapse {
  margin-bottom: 25px; 
}

.collapseTitleBar {
  width: calc(100% - 35px);
  height: 52px;
  background-color: #FF6060;
  padding: 0px 20px 0px 15px;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  cursor: pointer;
}

.collapseTile {
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 700;
  line-height: 34px;
  text-align: left;
  cursor: pointer;
  margin-top: 5px;
}

.collapseArrow {
  width: 32px;
  object-fit: contain;
  cursor: pointer;
}

.collapseContent {
  width: calc(100% - 40px);
  border-radius: 10px 10px 5px 5px;
  background-color: #F6F6F6;
  color: black;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  text-align: left;
  padding: 15px 20px 15px 20px;
}

/* 7-FICHE */

.carousel {
  width: 100%;
  display: flex;
  margin-top: 40px;
  margin-bottom: 50px;
}

.locationContent {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.locationOverview {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.locationDetails {
  display:flex;
  flex-direction: column;
  min-width: calc(100% - 200px);
  max-width: 1038px;
  width: calc(100% - 200px);
}

.titleAndlocation {
  width: 100%;
}

.titleAndlocation .detailTitle {
  text-align: left;
}

.detailLocation {
  color: black;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 500;
  line-height: 25.67px;
  text-align: left;
}

.hostIdentity {
  width: 200px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: end;
}

.hostName {
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 500;
  line-height: 25.67px;
  text-align: right;
  color: #FF6060;
  margin-right: 10px;
}

.hostPhoto {
  width: 64px;
  height: 64px;
  border-radius: 32px 32px 32px 32px;
  background-color: #c4c4c4;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
  row-gap: 20px;
}

.locationTag {
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 700;
  line-height: 19.96px;
  text-align: center;
  background-color: #FF6060;
  color: white;
  border-radius: 10px;
  margin-right: 25px;
  padding-top: 2px;
  padding-left: 15px;
  padding-right: 15px;
}
.evaluation {
  display:flex;
  justify-content: end;
  width: 200px;
  height: 36px;
  margin-top: 20px;
}

.evaluationStar {
  height: 36px;
  width: 36px;
}

.collapses {
  width: 100%;
  display:flex;
  justify-content: space-between;
}

.description {
  width: 47%;
}

.equipements {
  width: 47%;
}

/* 7.1-CAROUSEL */
#banner {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	min-height: 470px;
	position: relative;
}
.singlePictureCarousel, .banner_img {
	position: absolute;
	width: 100%;
	height: 100%;
	object-fit:cover;
	object-position: center;
  border-radius: 20px;
}

#banner .arrow {
	cursor: pointer;
	position: absolute;
}
#banner .arrow_left {
	left: 20px;
}
#banner .arrow_right {
	right: 20px;
}

.position {
	position: absolute;
	bottom: 40px;
	display: flex;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 500;
  line-height: 25.67px;
  text-align: center;
}